.sign-main-page{
    height: calc(100vh - 2.5rem);
    width: 100%;
}

.sign-panel{
    background: white;
    width: 23rem;
    height: 24.5rem;
    position: absolute;
    top: calc((100vh - 30rem) / 2);
    left: calc((100vw - 23rem) / 2);
    border-radius:9px;
    opacity: 0.9;
    text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
}

.chose-sign{
    height: 3rem;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.btn-fontsize{
    font-size: 1.2rem;
}

.separate{
    width: 1px;
    border-left: 2px solid black;
}

.btn-left{
    margin-right: 1rem;
}

.btn-right{
    margin-left: 1rem;
}

.sign-border-bottom{
    border-bottom: 2px solid;
}

.sign-detail{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

.btn-detail{
    font-size: 1rem;
}

.input-detail{
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    padding-left: 1.7rem;
    height: 2.7rem;
}

.icon-place{
    position: absolute;
    height: 2rem;
    width: 1.7rem;
    padding-left: 10px;
}

.confirmButton{
    margin-top: 2rem;
}

.btn-signin{
    width: 60%;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 4pc;
}

.btn-signup{
    width: 60%;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 4pc;
    background: #42c02e;
}

.mail-input{
    margin-top: 0.7rem;
    margin-left: -0.2rem;
}

.input-email{
    width: 50%;
}

.btn-send{
    margin-left: 1rem;
    font-size: 0.7rem;
}

.count-down{
    height: 2rem;
    width: 2.6rem;
    font-size: 1rem;
    margin-left: 1.4rem;
    margin-right: 0.8rem;
    border-radius: 4pc;
}